Repository ansible-collections/cloud.terraform, pull requests merged in 2023-11, with the labels that each got.

#88 add support for workspace for module cloud.terraform.terraform_output and lookup cloud.terraform.tf_output
  changelogs/fragments/20230913-add-support-for-workspace-when-running-terraform_output.yml
  plugins/lookup/tf_output.py
  plugins/module_utils/utils.py
  plugins/modules/terraform.py
  plugins/modules/terraform_output.py
  tests/integration/targets/output_lookup_workspace/defaults/main.yml
  tests/integration/targets/output_lookup_workspace/files/outputs.tf
  tests/integration/targets/output_lookup_workspace/tasks/main.yml
  tests/integration/targets/terraform_output/defaults/main.yml
  tests/integration/targets/terraform_output/files/outputs_workspace.tf
  tests/integration/targets/terraform_output/tasks/main.yml
  tests/unit/plugins/lookup/test_tf_output.py
Labels: safe to test

#95 terraform - module should be able to generate plan file to a specified location
  changelogs/fragments/20231016-fix-terraform-plan_file-option.yml
  plugins/modules/terraform.py
  tests/integration/targets/terraform_plan_file/aliases
  tests/integration/targets/terraform_plan_file/files/main.tf
  tests/integration/targets/terraform_plan_file/tasks/main.yml
Labels: safe to test

#103 Add ansible-core install to integration test CI workflow
  .github/workflows/integration-tests.yaml
  tests/integration/requirements.yml
Labels: safe to test

#99 Fix AWS SQS bug
  changelogs/fragments/20231025-fix-aws-sqs.yml
  plugins/module_utils/models.py
  tests/integration/requirements.yml
  tests/integration/targets/aws_sqs_queue/aliases
  tests/integration/targets/aws_sqs_queue/files/cloud.tf
  tests/integration/targets/aws_sqs_queue/meta/main.yml
  tests/integration/targets/aws_sqs_queue/tasks/main.yml
  tests/unit/plugins/module_utils/test_models.py
Labels: mergeit, safe to test

#96 Bugfix search nested child modules
  plugins/inventory/terraform_provider.py
  plugins/module_utils/models.py
  tests/integration/targets/terraform_provider/test.yml
Labels: mergeit, safe to test, skip-changelog

#105 Prepare release 2.0.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/config.yaml
  changelogs/fragments/20230524-aws_integration_tests.yml
  changelogs/fragments/20230913-add-support-for-workspace-when-running-terraform_output.yml
  changelogs/fragments/20230914-fix-integration-target-terraform_provider.yml
  changelogs/fragments/20231016-fix-terraform-plan_file-option.yml
  changelogs/fragments/20231025-fix-aws-sqs.yml
  changelogs/fragments/20231109-update-supported-ansible-versions.yaml
  changelogs/fragments/20231110-allow-nested_type-attributes.yml
  changelogs/fragments/49-command_name_in_binary_path.yaml
  changelogs/fragments/67-test-requirements.yml
  changelogs/fragments/76-fix_command_spaces_in_output.yml
  changelogs/fragments/inventory_parse_options.yaml
  changelogs/fragments/standardize_requirements.yml
  changelogs/fragments/terraform-cleanup-file.yml
  changelogs/fragments/terraform_provider_remove_workaround.yml
  docs/cloud.terraform.terraform_module.rst
  docs/cloud.terraform.terraform_output_module.rst
  docs/cloud.terraform.terraform_provider_inventory.rst
  docs/cloud.terraform.tf_output_lookup.rst
  galaxy.yml
Labels: safe to test

#106 Merge change for 2.0.0 into main branch
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/config.yaml
  changelogs/fragments/20230524-aws_integration_tests.yml
  changelogs/fragments/20230913-add-support-for-workspace-when-running-terraform_output.yml
  changelogs/fragments/20230914-fix-integration-target-terraform_provider.yml
  changelogs/fragments/20231016-fix-terraform-plan_file-option.yml
  changelogs/fragments/20231025-fix-aws-sqs.yml
  changelogs/fragments/20231109-update-supported-ansible-versions.yaml
  changelogs/fragments/20231110-allow-nested_type-attributes.yml
  changelogs/fragments/49-command_name_in_binary_path.yaml
  changelogs/fragments/67-test-requirements.yml
  changelogs/fragments/76-fix_command_spaces_in_output.yml
  changelogs/fragments/inventory_parse_options.yaml
  changelogs/fragments/standardize_requirements.yml
  changelogs/fragments/terraform-cleanup-file.yml
  changelogs/fragments/terraform_provider_remove_workaround.yml
  docs/cloud.terraform.terraform_module.rst
  docs/cloud.terraform.terraform_output_module.rst
  docs/cloud.terraform.terraform_provider_inventory.rst
  docs/cloud.terraform.tf_output_lookup.rst
  galaxy.yml
Labels: safe to test
